#:schema https://dystroy.org/bacon/.bacon.schema.json

default_job = "dev-long"
env.CARGO_TERM_COLOR = "always"

[jobs.dev-long]
env.RUST_LOG = "trace"
command = ["cargo", "run", "--features", "debug-tracing"]
need_stdout = true
allow_warnings = true
background = false
on_change_strategy = "kill_then_restart"


[jobs.release-long]
env.RUSTFLAGS = "-D warnings"
command = ["cargo", "run", "--release", "--locked"]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[keybindings]
d = "job:dev-long"
r = "job:release-long"
