#:schema https://dystroy.org/bacon/.bacon.schema.json

default_job = "dev-long"
env.CARGO_TERM_COLOR = "always"

[jobs.dev-long]
env.RUST_LOG = "trace"
env.RUSTFLAGS = "-D warnings"
command = [
    "powershell",
    "-NoProfile",
    "-File",
    "scripts/bacon_strict.ps1",
    "dev",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[jobs.release-long]
env.RUSTFLAGS = "-D warnings"
command = [
    "powershell",
    "-NoProfile",
    "-File",
    "scripts/bacon_strict.ps1",
    "release",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[jobs.test-long]
env.RUST_TEST_NOCAPTURE = "1"
env.RUST_LOG = "trace"
env.RUSTFLAGS = "-D warnings"
command = [
    "powershell",
    "-NoProfile",
    "-File",
    "scripts/bacon_strict.ps1",
    "test",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[jobs.dushnota]
env.RUSTFLAGS = "-D warnings"
command = [
    "powershell",
    "-NoProfile",
    "-File",
    "scripts/bacon_strict.ps1",
    "dushnota",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[keybindings]
d = "job:dev-long"
r = "job:release-long"
t = "job:test-long"
p = "job:dushnota"
