#:schema https://dystroy.org/bacon/.bacon.schema.json

default_job = "dev-long"

env.CARGO_TERM_COLOR = "always"
env.RUSTFLAGS = "-D warnings"
env.RUST_LOG = "trace"

[jobs.dev-long]
command = [
    "cmd",
    "/c",
    "taskkill /F /T /IM rust-switcher.exe >NUL 2>NUL & cargo +nightly fmt --check && cargo +nightly clippy --all-targets --all-features -- -D warnings -D clippy::all -D clippy::style -D clippy::complexity -D clippy::perf -D clippy::cargo -D clippy::unwrap_used -D clippy::expect_used -D clippy::todo -D clippy::unimplemented -D clippy::dbg_macro -A clippy::multiple_crate_versions && cargo +nightly run --features debug-tracing",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[jobs.release-long]
command = [
    "cmd",
    "/c",
    "taskkill /F /T /IM rust-switcher.exe >NUL 2>NUL & cargo +nightly fmt --check && cargo +nightly clippy --all-targets --all-features -- -D warnings -D clippy::all -D clippy::style -D clippy::complexity -D clippy::perf -D clippy::cargo -D clippy::unwrap_used -D clippy::expect_used -D clippy::todo -D clippy::unimplemented -D clippy::dbg_macro -A clippy::multiple_crate_versions && cargo +nightly run --release --locked",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[jobs.test-long]
env.RUST_TEST_NOCAPTURE = "1"
command = [
    "cmd",
    "/c",
    "taskkill /F /T /IM rust-switcher.exe >NUL 2>NUL & cargo +nightly fmt --check && cargo +nightly clippy --all-targets --all-features -- -D warnings -D clippy::all -D clippy::style -D clippy::complexity -D clippy::perf -D clippy::cargo -D clippy::unwrap_used -D clippy::expect_used -D clippy::todo -D clippy::unimplemented -D clippy::dbg_macro -A clippy::multiple_crate_versions && cargo +nightly test -- --nocapture",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[jobs.dushnota]
command = [
    "cmd",
    "/c",
    "cargo +nightly fmt --check && cargo +nightly clippy --all-targets --all-features -- -D warnings -D clippy::all -D clippy::style -D clippy::complexity -D clippy::perf -D clippy::cargo -D clippy::unwrap_used -D clippy::expect_used -D clippy::todo -D clippy::unimplemented -D clippy::dbg_macro -D clippy::pedantic -D clippy::panic -A clippy::multiple_crate_versions",
]
need_stdout = true
allow_warnings = false
background = false
on_change_strategy = "kill_then_restart"

[keybindings]
d = "job:dev-long"
r = "job:release-long"
t = "job:test-long"
p = "job:dushnota"
