name: GitHub Actions security (zizmor)

on:
  pull_request:
    paths:
      - ".github/workflows/**"
  push:
    branches: [ main, dev ]
    paths:
      - ".github/workflows/**"
  workflow_dispatch: {}

permissions: {}

jobs:
  zizmor:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@135698455da5c3b3e55f73f4419e481ab68cdd95 # v0.4.1
        with:
          advanced-security: false
          inputs: |
            .github/workflows
